@font-face {
	font-family: 'JetBrains Mono NF';
	src: url("../res/fonts/JB_Mono_NF.ttf");
	font-display: auto;
}
@font-face {
	font-family: 'Segoe Fluent Icons';
	src: url("../res/fonts/Segoe_Fluent_Icons.ttf");
}

* {
  font-family: "Jetbrains Mono NF";
  color:white;
  max-height: 95%;
}

.pagelen {
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme:dark) {
  body {
    background-color: #171717;
    color: white;
  }
}

a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}
