@font-face {
	font-family: 'JetBrains Mono NF';
	src: url("../res/fonts/JB_Mono_NF.ttf");
	font-display: auto;
}
@font-face {
	font-family: 'Segoe Fluent Icons';
	src: url("../res/fonts/Segoe_Fluent_Icons.ttf");
}

* {
  font-family: "Jetbrains Mono NF";
  color:hsl(169, 44%, 93%);
  max-height: 95%;
}
:not(h1) {
  font-size: 1rem;
}

button[type="submit"] {
	padding: 8px;
  margin-left: 5px;
  background-color: hsl(169, 44%, 93%);
  border: none;
  border-radius: 3px;
  color: #1e1e1e;
}

button[type="submit"] i {
  color: #1e1e1e;
}

button[type="submit"]:hover {
  background-color: #05c7a3
}


.pfix_15 {
  padding: 15px;
}

.pr_15 {
  padding-right: 15px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  place-items: center;
  align-content: center;
}

@media (prefers-color-scheme:dark) {
  body {
    background-color: #171717;
    color: hsl(169, 44%, 93%);
  }
}

a {
  text-decoration: none;
  color: hsl(169, 44%, 93%);
  vertical-align: middle;
}
